<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirAcidente</servlet-name>
        <servlet-class>controle.InserirAcidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuthentication</servlet-name>
        <servlet-class>controle.LoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuario</servlet-name>
        <servlet-class>controle.InserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuario</servlet-name>
        <servlet-class>controle.BuscarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controle.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>controle.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAcidente</servlet-name>
        <servlet-class>controle.BuscarAcidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAcidente</servlet-name>
        <servlet-class>controle.AlterarAcidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAcidente</servlet-name>
        <servlet-class>controle.EditarAcidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAcidente</servlet-name>
        <servlet-class>controle.ExcluirAcidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorio</servlet-name>
        <servlet-class>controle.GerarRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirAcidente</servlet-name>
        <url-pattern>/InserirAcidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuthentication</servlet-name>
        <url-pattern>/LoginAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuario</servlet-name>
        <url-pattern>/InserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuario</servlet-name>
        <url-pattern>/BuscarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/AlterarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAcidente</servlet-name>
        <url-pattern>/BuscarAcidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAcidente</servlet-name>
        <url-pattern>/AlterarAcidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAcidente</servlet-name>
        <url-pattern>/EditarAcidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAcidente</servlet-name>
        <url-pattern>/ExcluirAcidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorio</servlet-name>
        <url-pattern>/GerarRelatorio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
